<button routerLink="..">Tagasi</button>  <!-- routerLink="/admin" , tagasi admin lehele -->

<br><br>

<!-- span on nii lai ja kõrge palju temas on sisu -->
<!-- div on nii lai kui on ekraan ja nii kürge palju temas on sisu -->

<form (ngSubmit)="onSubmit(addItemForm)" #addItemForm="ngForm">
    <label>Pealkiri <span class="red" *ngIf="titleTouched && !addItemForm.value.title">*</span> </label> <br>  
    <input ngModel name="title" (keypress)="onChangeTitle()" type="text" required> <br>

    <label>Hind</label> <br>
    <input ngModel name="price" type="number" required> <br>

    <label>Kategooria</label> <br>
    <!-- <input ngModel name="category" type="text"> <br> -->
    
    <select ngModel name="category" required>

      <option *ngFor="let category of categories" [value]="category">{{category}}</option>

        <!-- <option value="volvo">Volvo</option>
        <option value="saab">Saab</option>
        <option value="opel">Opel</option>
        <option value="audi">Audi</option> -->

      </select>
      <br>

    <label>Pilt</label> <br>
    <input ngModel name="imgSrc" type="text" required> <br>

    <label>Nähtav</label> <br>
    <input ngModel name="isActive" type="checkbox"> <br>

    <button [disabled]="addItemForm.invalid">Lisa ese</button>
</form>