<!--admin home asub localhost:4200 lehel-->

<!--kui ma router link ette ei pane kaldkriipus routerLink="/admin/midagi" siis ta liidab juurde-->

<!--kokkuvõttes kui liidetakse juurde localjost:4200/admin + kategooriad = localhost:4200/admin/kategoorida , mis on aadress app-routingus "admin/kategooriad", millele vastab CategoryComponent-->

<button routerLink="/admin/lisa-ese">Lisa uus ese</button>
<button routerLink="/admin/esemed">Vaata/muuda esemeid</button>
<br><br>
<button routerLink="/admin/kategooriad">Muuda kategooriad</button>
<br><br>
<button routerLink="/admin/kasutajad/lisa-kasutaja">Lisa kasutaja</button>
<button routerLink="/admin/kasutajad/vaata-kasutajaid">Vaata/muuda kasutajaid</button>
<br><br>
<button routerLink="/admin/galerii">Vaata/muuda avalehe galerii pilte</button>