<!--admin home asub localhost:4200 lehel-->

<!--kui ma router link ette ei pane kaldkriipus routerLink="/admin/midagi" siis ta liidab juurde-->

<!--kokkuvõttes kui liidetakse juurde localjost:4200/admin + kategooriad = localhost:4200/admin/kategoorida , mis on aadress app-routingus "admin/kategooriad", millele vastab CategoryComponent-->

<button routerLink="lisa-ese">Lisa uus ese</button>
<button routerLink="esemed">Vaata/muuda esemeid</button>
<button routerLink="kategooriad">Muuda kategooriad</button>