<button routerLink="..">Tagasi</button>

<br><br>

<button (click)="onAddItemsToDatabase()">Lisa tooted andmebaasi</button>

<br><br>

<div [ngClass]="{active: item.isActive, inactive: !item.isActive}"  *ngFor="let item of items">

    <!-- <div>-------------------------------------------------------------------------------------------------------------------</div> -->

    <div (click)="onChangeItemActive(item)">
        <div>{{ item.imgSrc }}</div>
        <div>{{ item.title }}</div>
        <div>{{ item.price | itemPrice }}</div>
        <div>{{ item.category }}</div>
        <div>{{ item.isActive }}</div>
    </div>

    <button (click)="onRemoveItem(item)">Kustuta</button>
    <button routerLink="/admin/muuda-ese/{{item.title}}">Muuda</button>


</div>

