<div *ngIf="item" class="item-css">
    <div>
        <img src="{{item.imgSrc}}" alt="">
        <div>{{ item.title }}</div>
        <div>{{ item.price | itemPrice }}</div>
        <div>{{ item.category }}</div>
        <div>{{ item.isActive }}</div>
        <button (click)="addToCart(item)">Lisa ostukorvi</button>
    </div>
</div>

<!-- !item - hüüumärk keerab väärtuse vastupidiseks -->

<div *ngIf="!item" class="item-not-found">
    Eset ei leitud!
</div>









<!-- Lisa ostukorvi peaks kutsuma click abil mingi funktsiooni välja  -->
<!-- .ts failis peab see funktsioon olemas olema -->
<!-- funktsioon peab saatma selle eseme HTML-st TS-i -->
<!-- .ts fail peab selle eseme funktsiooni sulgude sees vastu võtma -->
<!-- constructoris peab olema olemas ühendus CartService-ga -->
<!-- funktsiooni sees teen push käsu CartService massiivi -->