<button routerLink="/admin/esemed">Tagasi</button>

<form *ngIf="item" (ngSubmit)="onSubmit()" [formGroup]="editItemForm">
    <label>Pealkiri </label> <br>
    <input formControlName="title" type="text" required> <br>

    <label>Hind</label> <br>
    <input formControlName="price" type="number" required> <br>
d
    <label>Kategooria</label> <br>
    <!-- <input ngModel name="category" type="text"> <br> -->
    <select formControlName="category" required>

        <option *ngFor="let category of categories" [value]="category">{{category}}</option>

      <!--  <option value="volvo">Volvo</option>
        <option value="saab">Saab</option>
        <option value="opel">Opel</option>
        <option value="audi">Audi</option> -->

      </select>
      <br>

    <label>Pilt</label> <br>
    <input formControlName="imgSrc" type="text" required> <br>

    <label>Nähtav</label> <br>
    <input formControlName="isActive" type="checkbox" required> <br>

    <button [disabled]="editItemForm.invalid">Lisa ese</button>
</form>

<div *ngIf="!item" class="item-not-found">
  Eset ei leitud!
</div>

<!-- 
    1. eseme muutmine
    2. vormi valideerimine
    3. dropdowm edit ja add-item sees

    REEDE
    4. category-sid saab lisada/kustutada, hoiame neid sercvice-s

    TEISIPÄEV
    5. tõlked
    6. tüübid

    KOLMAPÄEV
    7. sorteerimine
    8. andmebaas

    9. Subject - võimekus panna ühest Componendist teise Componendi 
        funktsiooni käima
 -->