<!-- bootstrap carousel -->

<ngb-carousel class="carousel-wrapper" *ngIf="images">
    <ng-template *ngFor="let image of images" ngbSlide >
      <div class="picsum-img-wrapper">
        <img src="{{image.url}}" alt={{image.alt}}> <!-- muutsime [src]="images[0]" ära  src="{{images[0]}}"  -->
      </div>
      <div class="carousel-caption">
        <h3>{{image.header}}</h3>
        <p>{{image.text}}</p>
      </div>
    </ng-template>
  </ngb-carousel>


<!-- end of bootstrap carousel -->

<input 
    type="range" 
    min="0" 
    max="20" 
    value="3" 
    [(ngModel)]="itemWordCount">
<br><br>

<!--1. otsitakse üles .ts failist muutuja nimega items 
    2. selle asemele tuleb väärtus [{title: "", price: ""...},{...}]
    3. ngFor html sisu korrutatakse nii mitu korda, kui palju neid elemente on
    4. muutuja, mis on kirjutatud "let" järel muutub nii palju, kui neid elemente on
    5. kuna tegemist on objektiga, pean väärtustele ligipääsemiseks kasutama võtit-->

<button (click)="onSortTitleAsc()">Sorteeri A-Z</button>
<button (click)="onSortTitleDesc()">Sorteeri Z-A</button>
<button (click)="onSortPriceAsc()">Hind kasvavalt</button>
<button (click)="onSortPriceDesc()">Hind kahanevalt</button>


<br><br>

<div class="products" *ngFor="let item of items">
    <div *ngIf="item.isActive">
        <!-- <img src="{{item.imgSrc}}" alt=""> -->
    <img class="item-img" routerLink="ese/{{item.title}}" src="{{item.imgSrc}}" alt=""> 
    <!-- kaldkriipsud imgage title sees ei tööta -->
    <div>{{ item.title | shortenTitle:itemWordCount }}</div>
    <div>{{ item.price | itemPrice }} </div>   <!-- € /div ette -->
    <div>{{ item.category }}</div>
    <div>{{ item.isActive }}</div>
    <button (click)="onAddToCart(item)">{{'Lisa Ostukorvi' | translate}}</button>

    </div>

</div>
<!-- 
    onAddToCart({title:"Ese1", price: "123", ...}) {
        .push({title:"Ese1", price: "123", ...})
    }
 -->

 <!-- teatmik.ee - palkade statistika   | -->
 <!-- "ng build" + "firebase deploy" uuendab rioangular.web.com veebilehte -->