<!-- <p>home works!</p> -->

<div class="products" *ngFor="let item of items">
    <!-- <img src="{{item.imgSrc}}" alt=""> -->
    <img routerLink="ese/{{item.title}}" src="{{item.imgSrc}}" alt=""> 
    <!-- kaldkriipsud imgage title sees ei tööta -->
    <div>{{ item.title }}</div>
    <div>{{ item.price }}</div>
    <div>{{ item.category }}</div>
    <div>{{ item.isActive }}</div>
    <button (click)="onAddToCart(item)">Lisa Ostukorvi</button>
</div>


<!-- 
    onAddToCart({title:"Ese1", price: "123", ...}) {
        .push({title:"Ese1", price: "123", ...})
    }
 -->